<div class="right controls"><%= link_to "Nuevo Foro/Categoría", new_forum_path %></div>
<% @categories.each do |category| %>
  <div class="module">
    <div class="module_header">
      <%= category.title %><br/>
      <span class="controls right smaller">
        <%= link_to "Nuevo Foro", new_forum_path %>
        <%= link_to "Editar Categoría", edit_forum_path(category) %>
        <%= link_to "Eliminar Categoría", forum_path(category), :confirm => "¿Está seguro que desea eliminar esta categoría?", :method => :delete %>
      </span>
    </div>
    <% if category.forums.size > 0 %>
    <div>
      <table>
        <tr class="smaller">
          <th colspan="2" align="left">Foro</th>
          <th>Temas</th>
          <th>Posts</th>
          <th class="last_post" align="left">Último Post</th>
        </tr>
        <% category.forums.each do |forum| %>
        <tr>
          <td class="icon"><%= image_tag 'favicon.ico' %></td>
          <td class="description">
            <%= link_to forum.title, forum_path(forum) %><br />
            <span class="smaller"><%= forum.description %></span><br />
          </td>
          <td class="counts smaller"><%= forum.topics.size %></td>
          <td class="counts smaller"><%= forum.posts.size - forum.topics.size %></td>
          <td class="last_post smaller">
            <% if forum.posts.size > 0 %>
              <%= forum.posts.last.created_at %><br />
              <%= forum.posts.last.user.name  unless forum.posts.last.user.blank?%>
            <% else %>
              No Topics / Posts
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <% else %>
      <div class="module_body">There are currently no forums.</div>
    <% end %>
  </div>
<% end %>
