<div class="right controls"><%= link_to "Volver al listado de Foros", forums_path %></div>
<div class="module">
  <div class="module_header">
    <%= @forum.title %>
    <span class="controls right">
      <%= link_to "Nuevo Tema", new_forum_topic_path(@forum) %>
      <%= link_to "Editar Foro", edit_forum_path(@forum) %>
      <%= link_to "Borrar Foro", forum_path(@forum), :confirm => "¿Está seguro que quiere eliminar este foro?", :method => :delete %>
    </span>
  </div>
  <div>
    <table>
      <tr class="smaller">
        <th colspan="2" align="left">Tema</th>
        <th>Comentarios</th>
        <th>Visto</th>
        <th class="last_post" align="left">Último Post</th>
      </tr>
      <% @forum.topics.each do |topic| %>
      <tr>
        <td class="icon"><%= image_tag 'favicon.ico' %></td>
        <td class="description">
          <%= link_to topic.title, topic_path(topic) %><br />
          <span class="smaller">by <%= topic.user.name unless topic.user.blank?%></span>
        </td>
        <td class="counts smaller"><%= topic.posts.size - 1 %></td>
        <td class="counts smaller"><%= topic.hits %></td>
        <td class="last_post smaller">
          <%= topic.posts.last.created_at %><br />
          by <%= topic.posts.last.user.name  unless topic.posts.last.user.blank?  %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
