<p>
  <strong>List: <%= link_to 'todos', :action => 'index', :id => '' %>,
  <%= link_to 'abierto', :action => 'index', :id => 'open' %>,
  <%= link_to 'procesado', :action => 'index', :id => 'processed' %>,
  <%= link_to 'cerrado', :action => 'index', :id => 'closed' %>,
  <%= link_to 'fallido', :action => 'index', :id => 'failed' %></strong>
</p>
