  <%= form_tag :action => 'create', :id => @post do %>
  <% if @post.errors.any? %>
     <% flash.now[:error] = @post.errors.full_messages.join(', and ') %>
  <% end %>
  <%= hidden_field :post, :parent_id %>
  <p><label for="post_name">Name</label><br/>
  <%= text_field 'post', 'name' %></p>
  <p><label for="post_subject">Subject</label><br/>
  <%= text_field 'post', 'subject' %></p>
  <p><label for="post_body">Body</label><br/>
  <%= text_area 'post', 'body' %></p>

  <%= submit_tag "Post" %>
  <% end %>
