  <%= form_tag :action => 'create', :id => @post do %>
  <% if @post.errors.any? %>
     <% flash.now[:error] = @post.errors.full_messages.join(', and ') %>
  <% end %>
  <%= hidden_field :post, :parent_id %>

  <div class="form-group">
    <label for="post_name">Nombre</label>
    <%= text_field 'post', 'name', :class => "form-control", :placeholder => "Nombre", :required => "required" %>
  </div>
  <div class="form-group">
    <label for="post_subject">Título</label>
    <%= text_field 'post', 'subject', :class => "form-control", :placeholder => "Título", :required => "required" %>
  </div>
  <div class="form-group">
    <label for="post_body">Descripción</label>
    <%= text_area 'post', 'body', :class => "form-control", :placeholder => "Descripción", :required => "required" %>
  </div>
  <%= button_tag "Enviar", :class => "btn btn-primary" %>
  <% end %>
