<br><% if @glasses.image.exists? then %>
    <dd><%= image_tag @glasses.image.url(:large) %></dd>
  <% else %>
    <p>Imagen no disponible.</p>
<% end %>
<br><dl>
  <dt>Nombre</dt>
  <dd><%= @glasses.name %></dd>
  <dt>Precio</dt>
  <dd><%= sprintf("%0.2f", @glasses.price) %> €</dd>
  <dt>Fabricante</dt>
  <dd><%= @glasses.manufacturer.name %></dd>
  <dt>Descripcion</dt>
  <dd><%= @glasses.description %></dd>
</dl>

<p><%= link_to 'Catálogo', :action => 'index' %> </p>
