<% if @user.errors.any? %>
  <div id="errorExplanation" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  	<%= pluralize(@user.errors.count, "error", "errores") %> impiden que la cuenta se cree en el sistema:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <label for="user_name">Nombre</label>
  <%= text_field 'user', 'name', :class => "form-control", :placeholder => "Nombre", :required => "required" %>
</div>

<div class="form-group">
  <label for="user_login">Cuenta de usuario</label>
  <%= text_field 'user', 'login', :class => "form-control", :placeholder => "Cuenta de usuario", :required => "required" %>
</div>

<div class="form-group">
  <label for="user_email">Direcci贸n de correo electr贸nico</label>
  <%= text_field 'user', 'email', :class => "form-control", :placeholder => "Email", :required => "required" %>
</div>

<div class="form-group">
  <label for="user_password">Clave de acceso</label>
  <%= password_field 'user', 'password', :class => "form-control", :placeholder => "Clave", :required => "required" %>
</div>

<div class="form-group">
  <label for="user_password_confirmation">Confirmaci贸n de clave de acceso</label>
  <%= password_field 'user', 'password_confirmation', :class => "form-control", :placeholder => "Confirmaci贸n de clave", :required => "required" %>
</div>
